@{
    ViewBag.Title = "Home Page";
}

<h2>
    Please navigate to @Html.ActionLink("Customers", "Index", "Customers") to know more about customers
</h2>
<h2>Or</h2>
<h2>
    Navigate to @Html.ActionLink("Movies", "Index", "Movies") to know more about movies
</h2>
<h4>This page is under Construction</h4>